<section class="hero">
  <div id="slidr-individual">
    <h1 class="hero-text">Buy
    </h1>
  </div>
</section>

<section class="standard">
  {{md './src/data/buy__content.md'}}
</section>

<section class="standard">
  {{#markdown}}
  {{/markdown}}
</section>

<section class="standard">
  {{#markdown}}
  {{/markdown}}
</section>

<section class="standard">
  {{#markdown}}
  {{/markdown}}
</section>
