<section class="hero">
  {{>hero--individual}}
</section>

<section class="content standard">
  {{md './src/data/how-does-it-work__content.md'}}
</section>

<section class="content standard">
  {{#markdown}}
### Private Lending
  - creative marketing
  - Private Lending
  - Wholesale Costs
  - Purchase distressed residential properties 30%-50% below market value
  - Use Proven Systems
  - Remodel and Rejuvenate Neighborhoods
  - Close Quickly and Pay Most Norm  al Closing Costs with Cash
  - Affiliated with the Largest National Netwo rk of Investors
  - Strict Due Diligence Process
  - Deal analyzer and Comps
  {{/markdown}}
</section>

<section class="content standard">
  {{#markdown}}
### Buying Process
  {{/markdown}}
</section>

<section class="content standard">
  {{#markdown}}
### Selling Process
  {{/markdown}}
</section>
