<h3><span>Who are we?</span></h3>
<div class="col-group">
  <div>
    <img src="https://octodex.github.com/images/goretocat.png"/>
    <h4>Fast</h4>
    <p>
    We Buy & Sell houses fast with professional solutions.
    </p>
  </div>
  <div>
    <img src="https://octodex.github.com/images/xtocat.jpg"/>
    <h4>Goals</h4>
    <p>
    Our goal is to provide the absolte highest level of service to our clients.
    </p>
  </div>
  <div>
    <img src="https://octodex.github.com/images/wilson.jpg"/>
    <h4>Focused</h4>
    <p>
    We are focused on providing solutions for clients and value for investors by locating distressed properties.
    </p>
  </div>
</div>
