<header class="sticky-header">
  <a href="#home" class="logo" data-scroll>BBB Invest</a>
  <nav class="nav-collapse">
    <ul>
      <li class="menu-item active"><a href="#home" data-scroll>Home</a></li>
      <li class="menu-item"><a href="#contact" data-scroll>Contact</a></li>
      <li class="menu-item"><a href="#about" data-scroll>About</a></li>
      <li class="menu-item"><a href="#sell" data-scroll>Sell</a></li>
      <li class="menu-item"><a href="#how-does-it-work" data-scroll>How Does it work?</a></li>
      <li class="menu-item"><a href="#buy" data-scroll>Buy</a></li>
      <li class="menu-item"><a href="#invest" data-scroll>Invest</a></li>
      <li class="menu-item"><a href="#faq" data-scroll>FAQ</a></li>
      <li class="menu-item"><a href="#testimonials" data-scroll>Testimonials</a></li>
      <li class="menu-item"><a href="#blog" data-scroll>Blog</a></li>
    </ul>
  </nav>
</header>
