<div id="slidr-home-demo">
  <h1 class="hero-text">Building The Future
    <p class="hero-subtext">One household at a time.</p>
  </h1>
  <!--<div id="slidr-hero" class="demo-slides">-->
    <!--<img data-slidr="one" src="{{assets}}/images/hero/hero-image--fog1.jpg"/>-->
    <!--<img data-slidr="two" src="{{assets}}/images/hero/hero-image--fog3.jpg"/>-->
    <!--<img data-slidr="three" src="{{assets}}/images/hero/hero-image--fog4.jpg"/>-->
  <!--</div>-->
</div>
